<html>
    <body>
        <form action="/savecoding" method="post">
            <label for="question">question</label>
            <input type="" name="question">
            <label for="st1">sample test case 1</label>
            <input type="text" name="st1">
            <input type="submit" value="submit">
        </form>
    </body>
</html>