<html>
    <body>
        <div style="width: 100%;height: 650px;">
        <div style="width: 50%; height: 550px; float: left;">
        <h3> problem statement</h3>
        <p><%= q.question %></p>
        <h4>sample input</h4>
        <p><%= q.st %></p>
        </div>
        <div style="width: 50%; height: 650px; float: left;">
            <form action="/compiler" method="post">
            
                <textarea name="code" rows="25" cols="40">
    
                </textarea>
                <br>
                
                <textarea name="input" rows="5" cols="40"></textarea><br>
                language <select name="lang">
                    <option value="c">c</option>
                    <option value="c++">c++</option>
                    <option value="java">java</option>
                    <option value="python">python</option>
                    <option value="javascript">javascript</option>
                </select>
              run with input 
              <input type="radio" name="winput" value="yes">yes
              <input type="radio" name="winput" value="no">no
              <br>
              <input type="submit" value="run">
            </form>
        </div>
        </div>
    </body>
</html>