<html>
    <body>
        <h1>company criteria input</h1>
        <form action="/savecompanyinfo" method="post">
            <label for="name">name</label>
            <input type="text" name="name">
            <label for="per10">10th percentage</label>
            <input type="number" name="per10">
            <label for="per12">12th percentage</label>
            <input type="number" name="per12">
            <label for="pergra">graduation cgpa</label>
            <input type="number" name="pergra">
            <input type="submit" value="submit">
        </form>
    </body>
</html>